* {
  margin: 0;
  padding: 0;
  font-family: "Avenir";
  color: white;
}
.main {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: auto;
  background: rgb(0, 0, 0);
}
.body1 {
  position: relative;
  text-align: center;
  color: white;
  animation: fade 2s ease forwards;
}
.forsideTekst {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: lighter;
  font-family: "Devanagari";
  font-size: 6vw;
  padding: 1%;
  border-radius: 20px;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  width: 75%;
}
.overskrift h2 {
  position: absolute;
  margin-left: 50%;
  top: 65%;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  font-size: 5.5vw;
  font-weight: lighter;
  font-family: "Devanagari";
  width: 75%;
  padding: 1%;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  animation: fade 2s ease forwards;
}
.overskrift h2 a {
  font-family: "Devanagari";
}
.overskrift h2 a:hover {
  transition: all 0.3s ease 0s;
  color: rgb(23, 151, 255);
}

.bookingTekst {
  margin-top: 5%;
  text-align: center;
  font-size: 2.5vw;
  color: rgb(192, 192, 192);
  line-height: 250%;
  display: block;
}
.bookingTekst a {
  color: rgb(255, 255, 255);
  display: inline-block;
  text-align: left;
}
.bookingTekst a img {
  transition: all 0.2s ease-in-out;
}
.bookingTekst a img:hover {
  transform: scale(1.2);
}
.mailSender {
  margin: auto;
  margin-top: 5%;
  width: 70%;
  max-width: 800px;
  padding: 20px;
  box-shadow: #00000010;
  background-color: white;
  border-radius: 8px;
}
.mailSender p {
  color: rgb(0, 0, 0);
  font-size: 2.7vw;
  font-weight: bold;
}
.form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 2vw;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 2vw;
  border: 1px solid rgb(128, 128, 128, 0.199);
  margin-top: 5px;
  color: black;
}
label {
  color: rgb(0, 0, 0);
}
textarea {
  resize: none;
}
button[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  padding: 15px;
  font-size: 2.7vw;
  border-radius: 8px;
  color: rgb(255, 0, 0);
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  transition: 0.3s ease background-color;
}
button[type="submit"]:hover {
  background-color: rgb(214, 226, 236);
}
#send-btn {
  cursor: not-allowed;
}

#status {
  text-align: center;
  width: 90%;
  max-width: 500px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 1%;
  border-radius: 8px;
}
#status.sendt {
  background-color: rgb(53, 189, 0);
  animation: status 4s ease forwards;
}
#status.ejSendt {
  background-color: rgb(189, 38, 0);
  animation: status 4s ease forwards;
}
@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

.omOs {
  display: block;
  margin-left: 7%;
  margin-top: 6%;
  width: 70%;
}
.omOs p {
  text-align: left;
  line-height: 2.2;
  font-size: 1.5vw;
  color: rgb(163, 163, 163);
}
.omOs a:hover {
  transition: all 0.3s ease 0s;
  color: rgb(163, 163, 163);
}

.bottomLogo img {
  margin-top: 10%;
  display: block;
  position: absolute;
  width: 100%;
  image-rendering: auto;
  margin-bottom: 5px;
}

nav {
  width: 100%;
  position: sticky;
  margin-bottom: 1%;
  margin-top: 1%;
  z-index: 1;
  display: flex;
  align-items: center;
}
.logo {
  flex-basis: 30%;
  margin-right: 9%;
}
.logo img {
  width: 170%;
  image-rendering: auto;
}
.nav-links {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  text-align: right;
  font-size: 1.4vw;
  margin-right: 1%;
}
.nav-links ul li {
  display: inline;
  margin-right: 3%;
}
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
}
.nav-links ul li a:hover {
  transition: all 0.3s ease 0s;
  color: rgb(107, 107, 107);
}

.gallery {
  margin: auto;
  margin-top: 5%;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2%;
}
.pic {
  height: auto;
  max-width: 100%;
  width: auto\9;
}
.pic img {
  image-rendering: auto;
  height: auto;
  width: 100%;
  animation: fade 2s ease forwards;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  90% {
  }
  100% {
    opacity: 1;
  }
}
.pic p {
  line-height: 200%;
  float: bottom;
  text-align: left;
  font-size: 1.1vw;
  color: rgb(192, 192, 192);
}

.anmeldelser {
  transform: translate(-50%, -50%);
  margin-top: 8%;
  margin-left: 38%;
  text-align: left;
  line-height: 150%;
  font-size: 3vw;
  color: rgb(192, 192, 192);
}
.reviews {
  margin: auto;
  margin-top: 2%;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6%;
  animation: fade 2s ease forwards;
}
.rew {
  height: auto;
  background-color: rgb(36, 37, 38);
  padding: 3%;
  border-radius: 20px;
  align-self: center;
}
.rew img {
  image-rendering: auto;
  width: 100%;
}

#skjult h1 {
  z-index: 0;
  color: black;
  font-size: 1px;
  animation: fade 2s ease forwards;
  position: absolute;
}
