* {
  margin: 0;
  padding: 0;
  font-family: "Avenir";
  color: white;
}
.main {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: auto;
  background: rgb(0, 0, 0);
}
.body1 {
  position: relative;
  text-align: center;
  color: white;
  animation: fade 2s ease forwards;
}
.forsideTekst {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: lighter;
  font-family: "Devanagari";
  font-size: 6vw;
  padding: 1%;
  border-radius: 20px;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  width: 75%;
}
.forsideTekst a:hover {
  transition: all 0.3s ease 0s;
  color: rgb(23, 151, 255);
}

.bookingTekst {
  margin-top: 5%;
  text-align: center;
  font-size: 2.5vw;
  color: rgb(192, 192, 192);
  line-height: 250%;
  display: block;
}
.bookingTekst a {
  color: rgb(255, 255, 255);
  display: inline-block;
  text-align: left;
}
.bookingTekst a img {
  transition: all 0.2s ease-in-out;
}
.bookingTekst a img:hover {
  transform: scale(1.2);
}
.mailSender {
  margin: auto;
  margin-top: 5%;
  width: 70%;
  max-width: 800px;
  padding: 20px;
  box-shadow: #00000010;
  background-color: white;
  border-radius: 8px;
}
.mailSender p {
  color: rgb(0, 0, 0);
  font-size: 2.7vw;
  font-weight: bold;
}
.form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 2vw;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 2vw;
  border: 1px solid rgb(128, 128, 128, 0.199);
  margin-top: 5px;
  color: black;
}
label {
  color: rgb(0, 0, 0);
}
textarea {
  resize: none;
}
button[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  padding: 15px;
  font-size: 2.7vw;
  border-radius: 8px;
  color: rgb(255, 0, 0);
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  transition: 0.3s ease background-color;
}
button[type="submit"]:hover {
  background-color: rgb(214, 226, 236);
}
#send-btn {
  cursor: not-allowed;
}

#status {
  text-align: center;
  width: 90%;
  max-width: 500px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 1%;
  border-radius: 8px;
}
#status.sendt {
  background-color: rgb(53, 189, 0);
  animation: status 4s ease forwards;
}
#status.ejSendt {
  background-color: rgb(189, 38, 0);
  animation: status 4s ease forwards;
}
@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

.sidetekst {
  display: block;
  margin-left: 7%;
  margin-top: 6%;
  width: 70%;
}
.sidetekst p {
  text-align: left;
  line-height: 2.2;
  color: rgb(163, 163, 163);
}
.sidetekst i {
  color: rgb(163, 163, 163);
}
.sidetekst a:hover {
  transition: all 0.3s ease 0s;
  color: rgb(163, 163, 163);
}

.bottomLogo img {
  margin-top: 10%;
  display: block;
  position: absolute;
  width: 100%;
  image-rendering: auto;
  margin-bottom: 5px;
}

nav {
  margin-bottom: 1.2vh;
  margin-top: 1.6vh;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo img {
  width: 45vw;
  image-rendering: auto;
}

.gallery {
  margin: auto;
  margin-top: 5%;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4%;
}
.rep {
  margin: auto;
  margin-top: 5%;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4%;
  align-items: center;
}
.pic {
  justify-self: center;
  height: auto;
  max-width: 100%;
  width: auto\9;
}
.pic img {
  image-rendering: auto;
  height: auto;
  width: 100%;
  animation: fade 2s ease forwards;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  90% {
  }
  100% {
    opacity: 1;
  }
}
.pic p {
  line-height: 200%;
  float: bottom;
  text-align: left;
  font-size: 1.1vw;
  color: rgb(192, 192, 192);
}

.anmeldelser {
  transform: translate(-50%, -50%);
  margin-top: 8%;
  margin-left: 38%;
  text-align: left;
  line-height: 150%;
  font-size: 3vw;
  color: rgb(192, 192, 192);
}
.reviews {
  margin: auto;
  margin-top: 2%;
  width: 90%;
  animation: fade 2s ease forwards;
}
.rew {
  height: auto;
  background-color: rgb(36, 37, 38);
  padding: 3%;
  border-radius: 20px;
  margin-top: 10%;
}
.rew img {
  image-rendering: auto;
  width: 100%;
}

@media screen and (min-width: 100px) {
  #mobilep {
    font-size: 2.8vw;
  }
  #mobilesp {
    font-size: 2.4vw;
  }
  #mobilep i {
    font-size: 2.3vw;
  }
  #mobileRew {
    margin: auto;
  }
}
@media screen and (min-width: 650px) {
  #mobilep {
    font-size: 1.5vw;
  }
  #mobilesp {
    font-size: 1.1vw;
  }
  #mobilep i {
    font-size: 1vw;
  }
  #mobileRew {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
  }
}

#skjult h1 {
  z-index: 0;
  color: black;
  font-size: 1px;
  animation: fade 2s ease forwards;
  position: absolute;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: black;
  padding: 16px;
  border: none;
  cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  right: 5vw;
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  right: 10px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  flex: left;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: rgb(107, 107, 107);
}
.menuIcon {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

.pakke {
  justify-self: center;
  height: auto;
  max-width: 100%;
  width: 40vw;
  border-radius: 8px;
}
.pakke p {
  padding: 5%;
  animation: fade 2s ease forwards;
}
